[Unit]
Description=UHF RFID Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /root/script/uhf01.py
WorkingDirectory=/root/script
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
